@{
    ViewData["Title"] = "ToDoer - Task List";
}

@using ToDoer.Models

@model List<ToDo>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                <i class="fa-solid fa-list-ul"></i>
                ToDo List
            </h2>
        </div>
        <div class="text-end col-6">
            <div class="p-1">
                <a asp-controller="ToDo" asp-action="Create" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                    Create New Items
                </a>
            </div>
            @if (Model.Count() > 0)
            {
                <div class="p-1">
                    @using (Html.BeginForm(controllerName: "ToDo", actionName: "PostFilter", method: FormMethod.Post))
                    {
                        <div class="input-group col-3">
                            <input type="text" id="args" name="args" class="form-control" placeholder="Filter by tags (separated by coma)"
                        aria-label="Tags (separated by coma)" aria-describedby="button-addon2">
                            <button class="btn btn-secondary" type="submit" id="button-addon2">
                                <i class="fa-solid fa-filter"></i>
                                Filter
                            </button>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <br>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped table-hover" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Task Name
                    </th>
                    <th class="">
                        Completed
                    </th>
                    <th class="">
                        Deadline
                    </th>
                    <th>
                        Changes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        @if (task.Complete)
                        {
                            <td width="20%" style=""><i class="fa-solid fa-check"></i> @task.TodoName</td>
                        }
                        else
                        {
                            <td width="20%" class=""><i class="fa-regular fa-circle"></i> @task.TodoName</td>
                        }
                        <td width="5%">@task.Complete</td>
                        @if (task.Deadline != null)
                        {
                            string? date = task.Deadline.ToString().Substring(0, 10);
                            <td width="10%" class="">@date</td>
                        }
                        else
                        {
                            <td width="10%" class="">~</td>
                        }
                        <td width="20%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="ToDo" asp-action="Update" asp-route-Id="@task.Id"
                            class="btn btn-outline-primary mx-1 btn-sm">
                                    <i class="fa-solid fa-screwdriver-wrench"></i>
                                    Update
                                </a>
                                <a asp-controller="ToDo" asp-action="Info" asp-route-Id="@task.Id"
                            class="btn btn-outline-secondary mx-1 btn-sm">
                                    <i class="fa-solid fa-circle-info"></i>
                                    Info
                                </a>
                                <a asp-controller="ToDo" asp-action="Delete" asp-route-Id="@task.Id"
                            class="btn btn-outline-danger mx-1 btn-sm">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>
            No items created yet
        </h3>
    }

</div>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
}